{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/executor_edit.css') }}" media="screen">
<section class="u-clearfix u-custom-color-3 u-section-6" id="sec-f7cc">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">New order</h2>
        <div class="u-form u-form-1" id="carousel-0464">
            <form action="/customer/add_orders" method="post"
                   style="padding: 0px;" source="email"
                  name="form">
                <div class="u-form-group u-form-name u-label-left u-form-group-1">
                    <label for="name-aee8" class="u-custom-font u-label u-spacing-0 u-label-1"
                           style="margin-bottom: 20px;">Title</label>
                    <input type="text" placeholder="Title" id="name-aee8" name="title" style="margin-bottom: 20px;"
                           class="u-input u-input-rectangle u-radius-10 u-input-1" required="">
                </div>
                <div class="u-form-group u-label-left u-form-group-2">
                    <label for="text-2b61" class="u-custom-font u-label u-spacing-0 u-label-2"
                           style="margin-bottom: 20px;">Price</label>
                    <input type="text" placeholder="Price" id="text-2b61" name="price" style="margin-bottom: 20px;"
                           class="u-input u-input-rectangle u-radius-10 u-input-2">
                </div>
                <div class="u-form-group u-form-select u-label-left u-form-group-3">
                    <label for="select-411a" class="u-custom-font u-label u-spacing-0 u-label-3"
                           style="margin-bottom: 20px;">Skills</label>
                    <div class="u-form-select-wrapper">
                        <select id="select-411a" name="select" class="u-input u-input-rectangle u-radius-10 u-input-3"
                                style="margin-bottom: 20px;">
                            <option value="development" name='skill' data-calc="">Development</option>
                            <option value="testing" name='skill' data-calc="">Testing</option>
                            <option value="seo" name='skill' data-calc="">SEO</option>
                            <option value="management" name='skill' data-calc="">Management</option>
                            <option value="ads" name='skill' data-calc="">ADS</option>
                            <option value="design" name='skill' data-calc="">Design</option>
                        </select>
                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                             viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                    </div>
                </div>
                <div class="u-form-group u-form-textarea u-label-left u-form-group-4">
                    <label for="textarea-baca" class="u-custom-font u-label u-spacing-0 u-label-4"
                           style="margin-bottom: 20px;">Description</label>
                    <textarea rows="4" cols="50" id="textarea-baca" name="descriptions" style="margin-bottom: 20px;"
                              class="u-input u-input-rectangle u-radius-10 u-input-4" required=""
                              placeholder="Write a description"></textarea>
                </div>
                <div class="u-form-group u-form-textarea u-label-left u-form-group-4">
                    <label for="textarea-baca" class="u-custom-font u-label u-spacing-0 u-label-4"
                           style="margin-bottom: 20px;">Full Description</label>
                    <textarea rows="4" cols="50" id="textarea-baca-1" name="full_descriptions" style="margin-bottom: 20px;"
                              class="u-input u-input-rectangle u-radius-10 u-input-4" required=""
                              placeholder="Write a full description"></textarea>
                </div>
                <div class="u-form-group u-form-submit u-label-left">
                    <label class="u-label u-spacing-0 u-label-7"></label>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                    <div class="u-align-center u-btn-submit-container">
                        <a href="#"
                               class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-2 u-text-body-alt-color u-btn-1">Submit</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}