 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

.u-section-1 .u-group-1 {
  width: 177px;
  height: auto;
  min-height: 32px;
  margin: -427px auto 0 99px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 0 -8px 0 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 55px;
  margin-top: 432px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-text-2 {
  margin: 0 1019px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 10px;
  height: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -52px 856px 0 147px;
}

.u-section-1 .u-form-1 {
  height: 133px;
  margin: 24px 0 0 933px;
}

.u-section-1 .u-input-1 {
  font-family: Nunito;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: -50px;
  margin-bottom: 0;
  height: auto;
  min-height: 188px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 188px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px auto 0 1062px;
}

.u-section-1 .u-text-6 {
  margin: -38px 877px 0 88px;
}

.u-section-1 .u-text-7 {
  margin: 10px auto 0 20px;
}

.u-section-1 .u-group-2 {
  height: auto;
  min-height: 35px;
  margin: 23px auto 0 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 4px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.125rem;
  margin: 1px auto 0;
}

.u-section-1 .u-group-3 {
  width: 69px;
  height: auto;
  min-height: 35px;
  margin: -35px auto 0 99px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 4px;
}

.u-section-1 .u-text-9 {
  background-image: none;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -39px auto 0 1007px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: -253px auto 0 0;
}

.u-section-1 .u-list-2 {
  margin-top: 234px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 188px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 12px 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px auto 0 1062px;
}

.u-section-1 .u-text-13 {
  margin: -38px 877px 0 88px;
}

.u-section-1 .u-text-14 {
  margin: 10px auto 0 20px;
}

.u-section-1 .u-group-4 {
  width: 69px;
  height: auto;
  min-height: 35px;
  margin: 23px auto 0 20px;
}

.u-section-1 .u-text-15 {
  background-image: none;
  font-size: 1.125rem;
  margin: 1px auto 0;
}

.u-section-1 .u-group-5 {
  width: 69px;
  height: auto;
  min-height: 35px;
  margin: -35px auto 0 99px;
}

.u-section-1 .u-text-16 {
  background-image: none;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -39px auto 0 1007px;
}

.u-section-1 .u-list-3 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 188px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 12px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 4px auto 0 20px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px auto 0 1062px;
}

.u-section-1 .u-text-19 {
  margin: -38px 877px 0 88px;
}

.u-section-1 .u-text-20 {
  margin: 10px auto 0 20px;
}

.u-section-1 .u-group-6 {
  width: 69px;
  height: auto;
  min-height: 35px;
  margin: 23px auto 0 20px;
}

.u-section-1 .u-text-21 {
  background-image: none;
  font-size: 1.125rem;
  margin: 1px auto 0;
}

.u-section-1 .u-group-7 {
  width: 69px;
  height: auto;
  min-height: 35px;
  margin: -35px auto 0 99px;
}

.u-section-1 .u-text-22 {
  background-image: none;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  transition-duration: 0.5s;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -39px auto 0 1007px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 756px;
    margin-left: 47px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -60px;
    margin-left: 733px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 865px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 776px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 9px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-3 {
    margin-left: 88px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 796px;
    padding: 10px 52px 10px 51px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -279px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 230px;
    height: auto;
    min-height: 188px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 876px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 765px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 807px;
  }

  .u-section-1 .u-list-3 {
    margin-top: 1px;
    margin-bottom: 0;
    height: auto;
    min-height: 188px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 876px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 765px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 807px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 583px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -36px;
    margin-left: 513px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 660px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 556px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 576px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -221px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 210px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 671px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 545px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 587px;
  }

  .u-section-1 .u-list-3 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 671px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 545px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 587px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 403px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -60px;
    margin-left: 333px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-left: 492px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 396px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: -279px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 269px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-left: 503px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 365px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 407px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-left: 503px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 365px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 203px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -14px;
    margin-left: 133px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 306px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 176px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -171px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 173px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 165px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 165px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 207px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ee20-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-ee20-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ee20-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1762px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 1615px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-2 .u-image-1 {
  width: 182px;
  height: 182px;
  background-image: url("people.png");
  background-position: 50% 50%;
  margin: 32px auto 0 40px;
}

.u-section-2 .u-text-1 {
  margin: -127px 40px 0 925px;
}

.u-section-2 .u-group-elements-1 {
  width: 388px;
  min-height: 71px;
  height: auto;
  margin: -28px auto 0 251px;
}

.u-section-2 .u-text-2 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 173px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 500;
  margin: -26px 0 0 222px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 7px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 251px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 57px 39px 0;
}

.u-section-2 .u-btn-1 {
  transition-duration: 0.5s;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 26px 707px 0 39px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 1062px;
  margin: 10px auto 0;
}

.u-section-2 .u-list-2 {
  width: 1064px;
  margin: -490px auto 124px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 426px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  background-image: url("people.png");
  background-position: 50% 50%;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-text-8 {
  margin: -88px 20px 0 869px;
}

.u-section-2 .u-text-9 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 667px 0 149px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: -4px auto 0 149px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  background-image: url("people.png");
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-text-12 {
  margin: -88px 20px 0 869px;
}

.u-section-2 .u-text-13 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 667px 0 149px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  margin: -4px auto 0 149px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  background-image: url("people.png");
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-text-16 {
  margin: -88px 20px 0 869px;
}

.u-section-2 .u-text-17 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 667px 0 149px;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  margin: -4px auto 0 149px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 765px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 546px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 10px;
    margin-left: 755px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 615px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    margin-left: 77px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 77px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 765px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 605px;
    margin-left: 87px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 87px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 87px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 765px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 605px;
    margin-left: 87px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.5rem;
    margin-left: 87px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 545px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 326px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 545px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 545px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 545px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 365px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 152px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-left: 152px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    margin-right: 146px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 365px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-12 {
    margin-left: 365px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-16 {
    margin-left: 365px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-19 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 165px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 92px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 92px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 92px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-line-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-line-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-line-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}