@import "https://fonts.googleapis.com/css?family=Lato:400,700";#bg {
    background-image: url(https://img.povar.ru/main-micro/d6/ae/7b/17/bolshie_pelmeni-558844.jpg);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px)
}

body {
    font-family: lato,sans-serif;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;html, body {
  height: 100%;
  background-image: linear-gradient(-105deg, #009acc, #363795);
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0
}

form {
    width: 350px;
    position: relative
}

form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat
}

form .form-field:nth-child(1)::before {
    background-image: url(img/user-icon.png);
    width: 20px;
    height: 20px;
    top: 15px
}

form .form-field:nth-child(2)::before {
    background-image: url(img/lock-icon.png);
    width: 16px;
    height: 16px
}

form .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative
}

form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: .9rem .7rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    font-size: 17px;
    color: #4a4a4a;
    text-indent: 40px
}

form .btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: .9rem 2.5rem;
    text-align: center;
    background-color: #47ab11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    font-size: 17px
}

/* Стили для всплывающего окна */
.popup {
    display: none; /* Скрываем по умолчанию */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
}

.popup-content {
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

